# Делаем LF окончанием строки по умолчанию для всех текстовых файлов
* text=auto

# Явно указываем, что все shell-скрипты должны ВСЕГДА использовать LF (даже на Windows)
*.sh text eol=lf

# Иные файлы конфигурации, если нужно
*.conf text eol=lf